{% extends "app/base_site.html" %}
{% load humanize %}
{% block title %} Project Details {% endblock title %}

{% block sidebar_class %}menu_fixed{% endblock sidebar_class %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>Project Detail</h3>
        </div>

        <div class="title_right">

        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
            <div class="x_title">
              <h1><strong>Project #{{ strategy.id }}: </strong>{{ strategy.name }}</h1>
              <ul class="nav navbar-right project_action">
				<li><a href="edit/" class="btn btn-sm btn-info">Edit</a></li>
                <li><a href="#" class="btn btn-sm btn-danger">Delete</a></li>
              </ul>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">

              <div class="col-md-12 col-sm-12 col-xs-12">
<div class="row top_tiles">
                <ul class="stats-overview">
                  <li>
                    <span class="name"> Estimated Value </span>
                    <span class="value text-success"> ${{ strategy.total|intcomma }}</span>
                  </li>
                  <li>
                    <span class="name"> T-Shirt Size </span>
                    <span class="value text-success"> {{ strategy.loe }} </span>
                  </li>

                  <li class="hidden-phone">
                    <span class="name"> Launch Date </span>
                    <span class="value text-success"> {{ strategy.Launch }} </span>
                  </li>
				  <li>
                    <span class="name"> Project Progress </span>
                    <span class="value text-success">
					<!-- <span class="project_progress"> -->
                      <div class="progress progress_sm center-block" style="width:75%;">
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{ strategy.Progress }}"></div>
                      </div>
                      <small>{{ strategy.Progress }}</small>
					<!--</span> -->
					</span>
                  </li>
                </ul>
                <br />
</div>

				<!-- Chart
                <div id="mainb" style="height:350px;"></div>
-->
                <div>
				<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12">
                  <div>
				  <h4>Recent Activity</h4>
				  <ul class="nav navbar-right project_action">
					<li><a href="comment/" class="btn btn-sm btn-info">Add Comment</a></li>
				  </ul>
				</div>
        <div class="clearfix"></div>
                  <!-- end of user messages -->
                  <ul class="messages">
                  {% for comment in strategy.comments.all %}
                    <li>
                      <!--<img src="" class="avatar" alt="Avatar">-->
                      <div class="message_date">
                        <h3 class="date text-info">{{ comment.created_date }}</h3>
                      </div>
                      <div class="message_wrapper">
                        <h4 class="heading">{{ comment.author }}</h4>
                        <blockquote class="message">{{  comment.text|linebreaks }}</blockquote>
                        <br />
                    {% empty %}
                  <ul class="messages">
                    <li>
                      <!-- <img src="" class="avatar" alt="Avatar"> -->
                      <div class="message_date">
                        <h3 class="date text-info"></h3>
                      </div>
                      <div class="message_wrapper">
                        <h4 class="heading"></h4>
                        <blockquote class="message">Nothing posted yet. Start the convo!</blockquote>
                        <br />

                    {% endfor %}
                      </div>
                    </li>
                  </ul>
          </div>
                  <!-- end of user messages -->




              <!-- start project-detail sidebar -->
              <div class="col-md-4 col-sm-4 col-xs-12">

                <section class="panel">

                  <div class="x_title">
                    <h2>Project Description</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="panel-body">

                    <div class="project_detail">
                      <p class="title">Objective</p>
                      <p>{{ strategy.objective|default:"-" }}</p>
                      <p class="title">Metric</p>
                      <p>{{ strategy.metric|default:"-" }}</p>
                      <p class="title">Department</p>
                      <p>{{ strategy.department|default:"-" }}</p>
                      <p class="title">Year</p>
                      <p>{{ strategy.year|default:"-" }}</p>
                      <p class="title">Quarter</p>
                      <p>{{ strategy.get_quarter_display|default:"-" }}</p>
                      <p class="title">Definition of Done</p>
                      <p>{{ strategy.definition_of_done|default:"-" }}</p>
                      <p class="title">Target Completion</p>
                      <p>{{ strategy.target_completion|default:"-" }}</p>
                    </div>

                    <br />
                    <h5>Score Elements</h5>
                    <ul class="list-unstyled project_files">
                      <li><a href=""><i class="fa fa-road"></i> {{ strategy.get_purpose_display|default:strategy.purpose }}</a>
                      </li>
                      <li><a href=""><i class="fa fa-lightbulb-o"></i> Level: {{ strategy.level }}</a>
                      </li>
                    </ul>
                    <br />

                  </div>

                </section>

              </div>
              <!-- end project-detail sidebar -->
			</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- ECharts -->
  <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
{% endblock javascripts %}
