{% extends "app/base_site.html" %}
{% block title %} All Quarterly Rocks {% endblock title %}
{% block stylesheets %}
{{ block.super }}

<!-- Ion.RangeSlider -->
<link href="/static/vendors/normalize-css/normalize.css" rel="stylesheet">
<link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
<link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
<div class="right_col" role="main">
  <div class="">
		<ul class="nav navbar-right project_action" style="">
		<li style="display: inline-block"><a href="/strategy/add.html" class="btn btn-sm btn-info">Add</a></li>
		</ul>
    <div class="page-title">
      <div class="title_left">
        <h3>All Quarterly Rocks</h3>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">

            </div>
            <div class="x_content">

              <!-- start form for validation -->
          <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Date Created</th>
                          <th>Date Modified</th>
                          <th>Name</th>
                          <th>Annual Rock</th>
                          <th>Department</th>
                          <th>Year</th>
                          <th>Quarter</th>
                          <th>Impact</th>
                          <th>Goal</th>
                          <th>Level</th>
                          <th>Competitive Position</th>
                          <th>Purpose</th>
                          <th>Target Completion</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for strategy in strategies %}
                        <tr>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.date_created }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.date_modified }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.name }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.annual_rock|default:"-" }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.department|default:"-" }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.year|default:"-" }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.get_quarter_display|default:"-" }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.impact }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.goal }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.level }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.competitive_position }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.purpose }}</a></td>
                          <td><a href="{{ strategy.id}}/" >{{ strategy.target_completion|default:"-" }}</a></td>
                        </tr>
                        {% empty %}
                        <tr>
                          <td colspan="13" style="text-align:center;">No Quarterly Rocks yet.</td>
                        </tr>
                        {% endfor %}
                      </tbody>
          </table>
              <!-- end form for validations -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
{{ block.super }}
<!-- Ion.RangeSlider -->
<script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.js"></script>
{% endblock javascripts %}
