{% extends "app/base_site.html" %}
{% block title %} New Action {% endblock title %}
{% block stylesheets %}
{% load crispy_forms_tags crispy_forms_filters %}
{{ block.super }}
<!-- Ion.RangeSlider -->
<link href="/static/vendors/normalize-css/normalize.css" rel="stylesheet">
<link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
<link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
<style type="text/css">
	div.radio {
		display: inline-block !important;
		margin: 0px !important
	}

	div.checkbox {
		display: inline-block !important;
		margin: 0px !important
	}
</style>
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Action Intake Form</h3>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">

          <!--- Test Form -->
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <form method="post" name='Project' class="">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="submit" value="Submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
{{ block.super }}
<!-- Ion.RangeSlider -->
<script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.js"></script>
{% endblock javascripts %}
