{% extends "app/base_site.html" %}
{% block title %} New Project {% endblock title %}
{% block stylesheets %}
{% load crispy_forms_tags crispy_forms_filters %}
{{ block.super }}
<!-- Ion.RangeSlider -->
<link href="/static/vendors/normalize-css/normalize.css" rel="stylesheet">
<link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
<link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
<style type="text/css">
	div.radio {
		display: inline-block !important;
		margin: 0px !important
	}
	
	div.checkbox {
		display: inline-block !important;
		margin: 0px !important		
	}
</style>
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Add Value to Project</h3>
      </div>
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
          
          <!--- Test Form -->
          <div class="x_panel">
            <div class="x_title">
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <form method="post" name='Project' class="">
                {% csrf_token %}
                {{ form|crispy }}
                <input type="hidden" name="next" value="{{ request.GET.next }}">
                <input type="submit" value="Submit" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
{{ block.super }}
<!-- Ion.RangeSlider -->
<script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.js"></script>
{% endblock javascripts %}
<!--
Desired Impact -- 70 Chart Input
Definition of success -- 70 Chart Input
Alignment - Ic, IPs, IPF -- Multi Check
corporate strategy, business unit strategy, and team strategy -- radio
Business Unit/Corporate Area/Team -- drop down
Competitive Position - Dominant, Strong, Favorable, Tenable, Weak -- Radio Button
Purpose - New Growth, Hold Position, Defend Position, Reverse Decay -- Radio Button
Projects
Feature/Test
Update/New
ADL Matrix - https://www.youtube.com/watch?v=4S90cdIeYoI
https://www.mindtools.com/pages/article/what-is-strategy.htm
-->