{% extends "app/base_site.html" %}
{% load humanize %}
{% block title %} Action Details {% endblock title %}

{% block sidebar_class %}menu_fixed{% endblock sidebar_class %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_right">

        </div>
      </div>

      <div class="clearfix"></div>

      <div class="row">
        <div class="col-md-12">
          <div class="x_panel">
              <ul class="nav navbar-right project_action" style="padding-top: 20px, display: inline">
                {% for group in user.groups.all %}
                {% if group.name == 'VP' %}         
                <li style="display: inline-block; padding-top: 10px">
                  {% if project.normalized_score == 0 %}

                  {% else %}
                  <a class="btn btn-sm btn-success" id="approve-btn" href="approve/?next={{ request.path|urlencode }}">
                    {% if project.approved == True %}
                      Pause <i class="fa fa-pencil"></i>
                    {% else %}
                      Approve <i class="fa fa-pencil"></i>
                    {% endif %} 
                  </a>
                </li>
                {% endif %}
                {% endif %}
                {% endfor %}
				<!-- <li><a href="#" class="btn btn-sm btn-warning">Pause</a></li> -->
				<li style="display: inline-block; padding-top: 10px">
          <!-- <a href="{% if 'edit' in request.path %} {{request.build_absolute_uri}} {% else %} {{ request.path }}edit {% endif %}" class="btn btn-sm btn-info">Edit</a>-->
		          {% for group in user.groups.all %}
		          {% if group.name == 'Manager' or group.name == 'Owner' %}
		          <a href="edit_manager/?next={{ request.path|urlencode }}" class="btn btn-sm btn-info">Edit</a>
		          {% else %}
		          <a href="edit/?next={{ request.path|urlencode }}" class="btn btn-sm btn-info">Edit</a>
		          {% endif %}
		          {% endfor %}
		        </li>
				<!--<li style="display: inline-block"><a href="#" class="btn btn-sm btn-danger">Delete</a></li>-->
              </ul>
            <div class="x_title">
              <h1><strong>Action: </strong>{{ project.name }}<br/><small><strong>Project: </strong>{{ project.project.name }}</small></h1>
              <div class="clearfix"></div>
            </div>

            <div class="x_content">

              <div class="col-md-12 col-sm-12 col-xs-12">
<div class="row top_tiles">
                <ul class="stats-overview">
                  <li style="display: inline-block">
                    <span class="name"> Estimated Value </span>
                    <span class="value text-success"> ${{ project.value|intcomma }} </span>
                  </li>
                  <li style="display: inline-block">
                    <span class="name"> Score </span>
                    <span class="value text-success"> {{ project.normalized_score }} </span>
                  </li>
                  <li style="display: inline-block">
                    <span class="name"> Launch Date </span>
                    <span class="value text-success">{{  project.launch }} </span>
                  </li>
                  <li style="display: inline-block">
                    <span class="name"> Action Progress </span>
                    <span class="value text-success">
					<!-- <span class="project_progress"> -->
                      <div class="progress progress_sm center-block" style="width:75%;"> 
                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{ project.progress }}"></div>
                      </div>
                      <small>{{ project.progress }}% Complete</small>
					<!--</span> -->
					</span>
                  </li>				  
                </ul>
                <br />
</div>
				
				<!-- Chart
                <div id="mainb" style="height:350px;"></div>
-->
                <div>
				<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12">
                  <div>
				  <h4>Recent Activity</h4>
				  <ul class="nav navbar-right project_action">
					<li><a href="comment/?next={{ request.path|urlencode }}" class="btn btn-sm btn-info">Add Comment</a></li>
				  </ul>
				</div>
				<div class="clearfix"></div>
                  <!-- end of user messages -->
                  <ul class="messages">
	                {% for comment in project.comments.all %}
                    <li>
                      <div class="message_date">
                        <h3 class="date text-info">{{ comment.created_date }}</h3>
                      </div>
                      <div class="message_wrapper">
                        <h4 class="heading">{{ comment.author }}</h4>
                        <blockquote class="message">{{  comment.text|linebreaks }}</blockquote>
                        <br />
                    {% empty %}
                  <ul class="messages">
                    <li>
                      <!-- <img src="" class="avatar" alt="Avatar"> -->
                      <div class="message_date">
                        <h3 class="date text-info"></h3>
                      </div>
                      <div class="message_wrapper">
                        <h4 class="heading"></h4>
                        <blockquote class="message">Nothing posted yet. Start the convo!</blockquote>
                        <br />
                    	
                    {% endfor %}
                      </div>
                    </li>
                  </ul>
				  </div>
                  <!-- end of user messages -->

				
                


              

              <!-- start project-detail sidebar -->
              <div class="col-md-4 col-sm-4 col-xs-12">

                <section class="panel">

                  <div class="x_title">
                    <h2>Action Description</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="panel-body">
                    <!-- </div><h3 class="green"><i class="fa fa-paint-brush"></i> Gentelella</h3> -->

                    <div class="project_detail">
                    <p class="title">Action Owner</p>
                    <p>{{ project.owner }}</p>
                    <p class="title">Department</p>
                    <p>{{ project.business_unit|default:"-" }}</p>
                    <p class="title">Objective</p>
                    <p>{{ project.objective|default:"-" }}</p>
                    <p class="title">Vertical</p>
                    <p>{{ project.vertical|default:"-" }}</p>
                    <p class="title">Measure</p>
                    <p>{{ project.measure|default:"-" }}{% if project.measure %} <i class="fa fa-info-circle" title="Quantifiable data points used to track progress and performance against the parent metric"></i>{% endif %}</p>
                    <p class="title">Created:</p>
                    <p>{{ project.date_created }}</p>
                    <p class="title">Modified:</p>
                    <p>{{ project.date_modified }}</p>
                    <p class="title">User Story</p>
                    <p>{{ project.why }}</p>
                      {% if request.user.is_superuser %}
                      <p class="title">Weighted Score</p>
                      <p>{{ project.normalized_score }}</p>
                      {% endif %}
                    </div>

                    <br />
                    <h3>Score Elements</h3>
                    <ul class="list-unstyled project_files">
                      <li><i class="fa fa-star"></i><span class="score_detail">   Customer Value: {{ project.customer_value|default:"0" }}</span>
                      </li>
                      <li><i class="fa fa-briefcase"></i><span class="score_detail">   Business Value: {{ project.business_value|default:"0" }}</span>
                      </li>
                      <li><i class="fa fa-money"></i><span class="score_detail">   Cost Savings: {{ project.cost_savings|default:"0" }}</span>
                      </li>
                      <li><i class="fa fa-cogs"></i><span class="score_detail">   Operational Cost: {{ project.operational_cost|default:"0" }}</span>
                      </li>
                      <li><i class="fa fa-shield"></i><span class="score_detail">   Business Risk: {{ project.business_risk|default:"0" }}</span>
                      </li>
                      <li><i class="fa fa-tasks"></i><span class="score_detail">   Level of Effort: {{ project.level_of_effort|default:"0" }}</span>
                      </li>
                      <li><i class="fa fa-money"></i><span class="score_detail">   Value: ${{ project.value|intcomma }}</span>
                      </li>
                      <li><i class="fa fa-check"></i><span class="score_detail">   Approved: {{ project.approved }}</span>
                      </li>
                    </ul>
                    <br />

                  </div>

                </section>

              </div>
              <!-- end project-detail sidebar -->
			</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- ECharts -->
  <script src="/static/vendors/echarts/dist/echarts.min.js"></script>
{% endblock javascripts %}
