{% extends "app/base_site.html" %}
{% load humanize %}
{% block title %} Actions {% endblock title %}
{% block stylesheets %}
{{ block.super }}
<!-- Ion.RangeSlider -->
<link href="/static/vendors/normalize-css/normalize.css" rel="stylesheet">
<link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.css" rel="stylesheet">
<link href="/static/vendors/ion.rangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet">
{% endblock stylesheets %}
{% block content %}
<!-- <script type="text/javascript">
	$(DataTable).DataTable();
</script> -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        {% if aee_filter %}
        <h3>Backlog <small>filtered by AEE Alignment: {{ aee_filter_label }}</small></h3>
        {% elif measure_filter %}
        <h3>Backlog <small>filtered by Measure: {{ measure_filter }}</small></h3>
        {% endif %}
      </div>
      {% if aee_filter or measure_filter %}
      <div class="title_right" style="text-align:right;">
        <a href="/project/view.html" class="btn btn-sm btn-default">Clear filter <i class="fa fa-times"></i></a>
      </div>
      {% endif %}
      <div class="clearfix"></div>

      {% include "project/_backlog_table.html" with table_id="approved" heading="Approved Actions" projects=approved_projects empty_msg="No Approved Actions" %}

      {% include "project/_backlog_table.html" with table_id="pending" heading="Actions Pending Review" projects=pending_review_projects empty_msg="No Actions Pending Review" %}

      {% include "project/_backlog_table.html" with table_id="incomplete" heading="Incomplete Entry" projects=incomplete_projects empty_msg="No Incomplete Entries" %}

      {% include "project/_backlog_table.html" with table_id="blocked" heading="Blocked Actions" projects=blocked_projects empty_msg="No Blocked Actions" %}

      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <a href="{% url 'project:archive' %}" class="btn btn-sm btn-default">
            <i class="fa fa-archive"></i> Archive
          </a>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
{{ block.super }}
<!-- Ion.RangeSlider -->
<script src="/static/vendors/ion.rangeSlider/js/ion.rangeSlider.js"></script>
{% endblock javascripts %}
<!--
Desired Impact -- 70 Chart Input
Definition of success -- 70 Chart Input
Alignment - Ic, IPs, IPF -- Multi Check
corporate strategy, business unit strategy, and team strategy -- radio
Business Unit/Corporate Area/Team -- drop down
Competitive Position - Dominant, Strong, Favorable, Tenable, Weak -- Radio Button
Purpose - New Growth, Hold Position, Defend Position, Reverse Decay -- Radio Button
Projects
Feature/Test
Update/New
ADL Matrix - https://www.youtube.com/watch?v=4S90cdIeYoI
https://www.mindtools.com/pages/article/what-is-strategy.htm
-->