{% extends "app/base_site.html" %}
{% block title %} Data Connection {% endblock title %}

{% block content %}
  <div class="right_col" role="main">
    <div class="page-title"><div class="title_left"><h3>Data Connection</h3></div></div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Data Connection <small>Settings</small></h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <p class="text-muted">This page is coming soon.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
