{% extends "app/base_site.html" %}
{% block title %} Score Projects {% endblock title %}
{% block content %}
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left"><h3>Score Projects</h3></div>
      <div class="clearfix"></div>
    </div>

    <div class="row"><div class="col-md-12">
      <div class="x_panel">
        <div class="x_content" style="padding:40px; text-align:center; color:#888;">
          <i class="fa fa-sliders" style="font-size:36px; margin-bottom:12px;"></i>
          <p>Project scoring is coming soon.</p>
        </div>
      </div>
    </div></div>

  </div>
</div>
{% endblock content %}
